{% extends "base.html" %}
{%block title%} Home Page {%endblock%}

{%block head%}

<script>


</script>

{%endblock%}

{%block bodycontent%}
<section class="section">
    <div class="container">
        <h1 class="title">
            About
        </h1>
        <br>
        <div class="content">
            <h1>Why did I make this</h1>
            <p>
                The purpose of this site is to merge all the prices into one so people trying to buy gold for the first
                time can have the best experience.

                Also, this might increase the price competition between sellers, since now they can see their prices compared to others.
            </p>
            <h1>How do I get the prices of every website</h1>
            <p>
                Every Hour I run a program (scraper) that fetches the price (in USD) of a Million (for example, 0.59 means that every in game Million costs 0.59USD).
                This means that the prices of most websites (except PlayerAuctions and Eldorado) get updated every hour.
                PlayerAuctions and Eldorado get scraped every 5-10min, since there are a lot of sellers updating their prices and not just one like most gold selling websites.
            </p>

            <h1>Do I plan improving the website/adding more stuff </h1>
            <p>
               The website is far from finished. Planning on adding statistics, "Selling" price (which not every site has it public, real time updating the price, a way for sellers to change the price here manually and sort the sellers by trust.

            </p>
            <h1>Do I plan on monetizing</h1>
            <p>
                I don't know yet.
                Planning on placing ads, selling the access to my database/API or making a Discord bot and sell that.
                If you want to make an offer I'm all ears. Just contact me on the <a href="/home/contact">contact</a> page.
            </p>


        </div>


    </div>
    </div>
</section>


{% endblock %}


{% block restcontent %}

<script>


    var prices_obj = {
    {
        items_json | safe
    }
    }

</script>

<script type="text/javascript" src="{{ url_for('.static', filename='js/price_table.js') }}"></script>
{%endblock %}
