{% extends "base.html" %}
{%block title%} Contact {%endblock%}

{%block head%}
<meta name="description"
      content="Contact me here!">
{%endblock%}

{%block bodycontent%}
<section class="section">
    <div class="container">
        <h1 class="title">
            Contact
        </h1>
        <br>
        <p>
            If you plan to make an offer, to give me suggestions on how to improve the website this is the place to do
            it.
            I'm a university student so don't expect me to reply to you as soon as possible :)
        </p>
        <br>

        <h4>Your Name/Email/Other way for me to talk with you</h4>
        <input class="input" type="text" placeholder="eg: potatoman@gmail.com" id="nameText">
        <br>
        <h4>
            Send me a message</h4>
        <textarea class="textarea" placeholder="e.g. It would be cool if you added this...."
                  id="messageText"></textarea>
        <button class="button is-primary" onclick="sendMessage()" id="buttonSubmit">Send!</button>

        <br>
    </div>
</section>


{% endblock %}


{% block restcontent %}


{%endblock %}
