{% extends "base.html" %}
{%block title%} Home Page {%endblock%}

{%block head%}

<script>


</script>

{%endblock%}

{%block bodycontent%}
<section class="section">
    <div class="container">

        <br>
        <div id="app" class="columns" style>
            <game-price-table game_title="OSRS" v-bind:prices="pricesosrs"></game-price-table>
            <game-price-table game_title="RS3" v-bind:prices="pricesrs3"></game-price-table>
        </div>

    </div>
    </div>
</section>



{% endblock %}


{% block restcontent %}

<script>


    var prices_obj = {{items_json | safe}}

</script>

<script type="text/javascript" src="{{ url_for('.static', filename='js/price_table.js') }}"></script>
{%endblock %}
